body {
    background-color: #cfcfcf;
    font-family: 'Lato', sans-serif;
}

.b-blue {
    background-color:rgb(91, 155, 175) !important;
    
}

.fixed-colour-black {
    color: black !important;
}

.fixed-colour-white {
    color: white !important;
}

.nav-link {
    color: white !important;
}
.nav-link:hover {
    color: rgb(255, 215, 140) !important;
}

.img-small {
    width: 50px !important; 
    height: 50px !important;
}
.sectionA {
    background-color: rgb(204, 221, 208);
}

.sectionB {
    background-color: rgb(91, 155, 175);
}

.sliderContainer {
    margin-top: 76px !important;
}

#slider {
    padding: 0;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

  .carousel-caption {
    border-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.25);
    padding-top: 1vw;
    padding-bottom: 1vw;
  }

  .carousel-caption h3{
    font-weight: bold;
    font-size: 3vw;
  }

  .carousel-caption p {
    font-size: 2vw;
    color: #FFF;
  }

  .sectionA h1 {
      font-size: 5vmin;
      font-weight: 700;
      color: rgb(0, 121, 158);
      text-align: center;
      margin: 20px;
      text-transform: uppercase;
  }

  .sectionB h1 {
    font-size: 5vmin;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 20px; 
    text-transform: uppercase;
}

  #abtUs {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  #abtUs p {
    font-size: 3vmin;
    text-align: justify;
    margin: 10px;
  }

  .nav-item {
      font-size: 1.5em;
  }

  .scrollup {
    width: 64px;
    height: 64px;
    text-decoration: none;
    background: url("../img/up.png") no-repeat 0px 0px;
    background-size: cover;
    position: fixed;
    right: 10px;
    bottom: 20px;
    display: none;
    opacity: .65;
}

.doc {
    width: 100%;
    height: 100%;
    
    
    border-radius: 1vw;
}

.doc p{
    padding-top: 1vw;
}

.docImg {
    text-align: center;
    width: 50%;
    padding: 20px;
}

.docImg img {
    background-color: rgba(0, 0, 0, 0.514);
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border: 4px solid rgb(0, 121, 158);
    border-radius: 50%;
}

.doc h2 {
    font-size: 3vmin;
    color: rgb(0, 121, 158);
    font-weight: bold;
    text-align: center;
}

.doc .description {
    padding-left: 2vw;
    padding-right: 2vw;
}

.separator-white {
    height: 3px;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
    border-top: 3px solid blanchedalmond;
    border-radius: 5px;
}

.separator-blue {
    height: 3px;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
    border-top: 3px solid rgb(0, 121, 158);
    border-radius: 5px;
}

.servicesList {
    color: black;
    font-size: 3vmin;
    font-weight: 400;
}

.servicesList i:before {
    color: rgb(224, 233, 226);
    margin-right: 2vw;
    font-size: 2em;
}

.servicesItem {
    padding-left: 4vw;
    padding-right: 4vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.servicesItem p {
    
}

.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
  }

  #map {
      height: 400px;
  }

  #footer {
      width: 100%;
      height: 200px;
      background-color: black;
  }

  .transparency {
      opacity: 0.5;
  }

  .signature {
    font-size: 0.8em;
    text-align: center;
    color: rgb(94, 94, 94);
  }

  .signature a{
    color: rgb(94, 94, 94);
  }
  .signature a:hover{
    color: rgb(94, 94, 94);
  }
  
  #footer .container {
      margin: 0 !important;
  }

  #address {
      
      height: 100%;
  }