body {
    background-color: #ebebeb;
    font-family: 'Lato', sans-serif;
}

.b-maintheme {
    background-color:#1ba098 !important;
    
}

.b-whitey {
    background-color:#ffffff !important;
}

.fixed-colour-black {
    color: black !important;
}

.fixed-colour-white {
    color: white !important;
}

.navbar:hover {
    opacity: 1 !important;
}
.nav-link {
    color: white !important;
}
.nav-link:hover {
    color: #051622 !important;
    background-color:#18928a !important;
}

/* .img-small {
    width: 50px !important; 
    height: 50px !important;
} */
.logo:before {
    font-size: 1em;
}
.logoContainer {
    font-size: 1em;
}

.logoContainer p {
    margin: 0;
}

.display-block {
    display: inline-block;
}

.sliderContainer {
    margin-top: 5vmin !important;
}

#slider {
    padding: 0;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

  .carousel-caption {
    border-radius: 2vw;
    background-color: rgba(0, 0, 0, 0.25);
    padding-top: 2vw;
    padding-bottom: 2vw;
  }

  .carousel-caption h3{
    font-weight: bold;
    font-size: 3vw;
  }

  .carousel-caption p {
    font-size: 2vw;
    color: #FFF;
  }

  .sectionA h1 {
      font-size: 5vmin;
      font-weight: 700;
      color: #051622;
      text-align: center;
      margin: 20px;
      text-transform: uppercase;
  }

  .sectionB h1 {
    font-size: 5vmin;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 20px; 
    text-transform: uppercase;
}

  #abtUs {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  #abtUs p {
    font-size: 3vmin;
    text-align: justify;
    margin: 10px;
    color: #051622;
  }

  .nav-item {
      font-size: 1.5em;
  }

  .scrollup {
    width: 64px;
    height: 64px;
    text-decoration: none;
    background: url("../img/up.png") no-repeat 0px 0px;
    background-size: cover;
    position: fixed;
    right: 10px;
    bottom: 20px;
    display: none;
    opacity: .65;
}

.doc {
    width: 100%;
    height: 100%;
    border-radius: 2vw;
    transition: all .4s ease;
}

.docShadow {
    box-shadow: 0.5vw 0.5vw rgba(0,0,0,.15);
    border-radius: 4vw;
}

.doc p{
    padding-top: 2vw;
}

.docImg {
    text-align: center;
    width: 50%;
    padding: 20px;
}

.docImg img {
    background-color: rgba(0, 0, 0, 0.514);
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border: 4px solid #051622;
    border-radius: 50%;
}

.doc h2 {
    font-size: 3vmin;
    color: #051622;
    font-weight: bold;
    text-align: center;
}

.doc .description {
    padding-left: 2vw;
    padding-right: 2vw;
}

.separator-white {
    height: 3px;
    width: 10%;
    padding-top: 1px;
    padding-bottom: 1px;
    border-top: 3px solid rgb(255, 249, 240);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.separator-dark {
    height: 3px;
    width: 10%;
    padding-top: 1px;
    padding-bottom: 1px;
    border-top: 3px solid #051622;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.servicesList {
    color: black;
    font-size: 3vmin;
    font-weight: 400;
}
.calendarDay {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid black;
}

.calendarWorkingHours {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid black;
}

.servicesList i:before {
    color: #051622;
    margin-right: 2vw;
    font-size: 2em;
}

.servicesItem {
    padding-left: 4vw;
    padding-right: 4vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.servicesItem p {
    color: white;
    padding: 0 0 0 2vw;
    margin: 4px;

}
.docInfo a {
    text-transform: none;
    transform: none;
}
.card p {
    margin: 0;
    padding: 0;
}
.docIcon {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1vw;
    color: #051622;
}
.c-highlighted {
    color: #18928a;
    cursor: pointer;
}
.docIcon i::before{
    font-size: 2em;
}

.b-item-dark {
    background-color: #179990;
}


.separator-vertical-light {
    border-left: 2px solid white;
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.11);
}

.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
  }

  #map {
      height: 400px;
  }

  #footer {
      width: 100%;
      height: auto;
      background-color:  #051622;
  }

  .transparency {
      opacity: 0.5;
  }

  .signature {
    font-size: 0.6em;
    text-align: center;
    color: rgb(94, 94, 94);
  }

  .signature p {
    margin: 0;
  }

  .signature a{
    color: rgb(94, 94, 94);
  }
  .signature a:hover{
    color: rgb(94, 94, 94);
  }
  
  #footer .container-fluid {
      
      color: white;
      font-size: 3vmin;
  }
  #footer p {
      margin-bottom: 0.5em;
  }

  #footer i:before {
    margin-left: 0;
    margin-bottom: 0.5em;
    padding: 0;
  }
  #address {
    width: 100%;
    padding-right: 1vw;
  }
  #hours {
      width: 100%;
      padding-right: 1vw;
  }
  

  .opacity-1 {
      opacity: 0.3;
  }


  .footerItem {
    display: inline-block;
    border-right: 2px solid #ffffff;
    min-width: 2px;
  }